<div class="container" style="margin-top:70px">
    <h3>Project List</h3>
    <p>This list displays the projects</p>
    <div class="row">
        <div class="col-sm-12">
          <button type="submit" (click)="addProject()" class="btn btn-primary btn-xs">Add Project</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Agency Code</th>
                <th>Agency Name</th>     
                <th>Project Code</th>     
                <th>Project Name</th>      
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects" [routerLink]="['/admin/project/modify',  project.id]">
                <td>{{ project.agencyCode }}</td>
                <td>{{ project.agencyName }}</td>
                <td>{{ project.code }}</td>
                <td>{{ project.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>