<div class="row" style="margin-top: 20px;">

  <div *ngIf="type === 'PRH'">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default" *ngFor="let receipt of receipts">
        <div class="panel-heading">
          <h4 class="panel-title" style="font-size: 13px;">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
              href="#parish{{receipt.receiptId}}" (click)="onParishSelect(receipt.receiptId)"> <!--(click)="onParishSelect(receipt.referenceId, receipt.receiptId)"-->
              <span>{{ receipt.receiptId }} - </span>
              <span>Parish: {{ receipt.receiptType == 1 ? receipt.orgName : receipt.parishName }}, </span>
              <span>Amount: {{ receipt.amount | currency}} </span>
            </a>
          </h4>
        </div>
        <div id="parish{{receipt.receiptId}}" class="panel-collapse collapse">
          <div class="panel-body">
              <div class="row-fluid" style="margin-top: 20px;">
                <div class="col-sm-4 grey text-align: center">Date: {{ receipt.rdate }}</div>
                <div class="col-sm-4 grey text-align: center">{{ receipt.firstName }} {{ receipt.middleName }}
                  {{ receipt.lastName }}</div>
                <div class="col-sm-4 grey text-align: center">Initiative: {{ receipt.initiativeName}}</div>
              </div>
              <div class="row-fluid" style="margin-top: 20px;">
                <div class="col-md-12">

                  <div class="col-sm-2">
                    <input type="search" autocomplete="off" #sponsorCode class="form-control"
                      (blur)="findSponsorBySponsorCode(sponsorCode.value, receipt.referenceId)"
                       id="sponsor-code{{receipt.receiptId}}" placeholder="Sponsor Code"/>
                  </div>
                  <div class="col-sm-2">
                    <input id="firstName{{receipt.receiptId}}" class="form-control" type="text" #firstName placeholder="First Name" />
                  </div>
                  <div class="col-sm-2">
                    <input id="lastName{{receipt.receiptId}}" class="form-control" type="text" #lastName placeholder="Last Name" />
                  </div>
                  <div class="col-sm-2">
                    <button type="button" id="search{{receipt.receiptId}}" (click)="search(receipt.referenceId)"
                      class="btn btn-primary btn-sm">Search</button>
                  </div>
                  <div class="col-sm-4 grey text-align: center">
                    <label style="text-align: center">Funds distributed: {{(refreshClicked) ? (sponsorReceiptAmount | currency) : (receipt.sponsorReceiptAmount | currency)}} <img (click)="refresh(receipt)" alt="Click to refresh" width="20px" src="assets/images/refresh.png"></label>
                  </div>
                </div>
                <div class="row-fluid" *ngIf="displaySponsorList">
                  <div class="col-sm-12" *ngFor="let sponsor of sponsors; index as i" [style.margin-top]="(i == 0)? '20px':'8px'">
                    <sponsor [sponsor]=sponsor [receipt]=receipt></sponsor>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="type !== 'PRH'">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th (click)="sortByReceiptId()">Number</th>
          <th (click)="sortByReceiptDate()">Date</th>
          <th (click)="sortByFullName()">Sponsor Name</th>
          <th>Amount</th>
          <th *ngIf="type === 'INDL'">Parish</th>
          <th *ngIf="type === 'PRH'">Parish</th>
          <th *ngIf="type === 'ORG'">Organization</th>
          <th (click)="sortByInitiativeName()"> Initiative Name</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let r of receipts" [routerLink]="['/home/receipts/modify', receipt.receiptId, selectedParish ]">-->
        <tr *ngFor="let receipt of receipts">
          <td *ngIf="receipt.sponsorId">
            <img width="20px" src="assets/images/check-mark.png">
          </td>
          <td *ngIf="!receipt.sponsorId"></td>
          <td>{{ receipt.receiptId }}</td>
          <td>{{ receipt.rdate }}</td>
          <td>{{ receipt.firstName }} {{ receipt.middleName }} {{ receipt.lastName }}</td>
          <td align="right">{{ receipt.amount | currency}}</td>
          <td>{{ receipt.receiptType == 1 ? receipt.orgName : receipt.parishName }}</td>
          <td>{{ receipt.initiativeName}}</td>
          <td>{{ receipt.type ==0 ? 'Donation' : 'Sponsorship'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>