<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
       <div *ngIf="type === 'PRH'">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" *ngFor="let receipt of receipts">
                <div class="panel-heading">
                    <h4 class="panel-title" style="font-size: 13px;">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" 
                            href="#parish{{receipt.receiptId}}" (click)="onParishSelect(receipt.referenceId, receipt.receiptId)" >
                           <span>{{ receipt.receiptId }}  -  </span>
                           <span>Parish: {{ receipt.receiptType == 1 ? receipt.orgName : receipt.parishName }},     </span>
                           <span>Amount: {{ receipt.amount | currency:'USD':true:'2.2-4'}} </span>
                        </a>
                    </h4>
                </div>
               <div id="parish{{receipt.receiptId}}" class="panel-collapse collapse">
                  <div class="row-fluid" style="margin-top: 20px;">
                        <div class="col-sm-4 grey text-align: center">Date: {{ receipt.rdate }}</div>
                        <div class="col-sm-4 grey text-align: center">{{ receipt.firstName }} {{ receipt.middleName }} {{ receipt.lastName }}</div>
                        <div class="col-sm-4 grey text-align: center">Initiative: {{ receipt.initiativeName}}</div>
                  </div>
                  <div class="row-fluid" style="margin-top: 10px;" *ngIf="displaySponsorList">
                    <div class="col-sm-12"  *ngFor="let sponsor of sponsors" style="margin-top: 10px;">
                        <sponsor [sponsor]=sponsor [receipt]=receipt [sponsorReceipts]=sponsorReceipts></sponsor>
                    </div>
                </div>
            </div>
        </div>
     </div>
     <div *ngIf="type !== 'PRH'">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th (click)="sortByReceiptId()">Number</th>
            <th (click)="sortByReceiptDate()">Date</th>
            <th (click)="sortByFullName()">Sponsor Name</th>
            <th>Amount</th>
            <th *ngIf="type === 'INDL'">Parish</th>
            <th *ngIf="type === 'PRH'">Parish</th>
            <th *ngIf="type === 'ORG'">Organization</th>
            <th (click)="sortByInitiativeName()"> Initiative Name</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let r of receipts" [routerLink]="['/home/receipts/modify', receipt.receiptId, selectedParish ]">-->
          <tr *ngFor="let r of receipts">
            <td *ngIf="receipt.sponsorId">
                  <img width="20px" src="assets/images/check-mark.png">
            </td>
            <td *ngIf="!receipt.sponsorId"></td>
            <td>{{ receipt.receiptId }}</td>
            <td>{{ receipt.rdate }}</td>
            <td>{{ receipt.firstName }} {{ receipt.middleName }} {{ receipt.lastName }}</td>
            <td align="right">{{ receipt.amount | currency:'USD':true:'2.2-4'}}</td>
            <td>{{ receipt.receiptType == 1 ? receipt.orgName : receipt.parishName }}</td>
            <td>{{ receipt.initiativeName}}</td>
            <td>{{ receipt.type ==0 ? 'Donation' : 'Sponsorship'}}</td>
            </tr>
        </tbody>
      </table>
    </div>
    </div>