<div *ngIf="!editingParish" class="container" style="margin-top:70px">
  <h2>Parish List</h2>
  <p>This list displays the parishes</p>
  <div class="row">
    <div class="col-sm-12">
      <button type="submit" (click)="addParish()" class="btn btn-primary btn-xs">Add Parish</button>
    </div> 
</div>
  <div class="row">
    <div class="col-sm-12">
      <select class="form-control" (change)="selectParish($event.target.value)">
        <option *ngFor="let center of centers" [value]="center.id">{{center.regionName}} {{center.name}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="chosenCenter" class="row" style="margin-top:10px">
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Region Name</th>
            <th>Center Name</th>
            <th>Parish Code</th>
            <th>Parish Name</th>
            <th>Parish City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parish of parishes" (click)="onSelect(parish)">
            <td>{{ parish.regionName }}</td>
            <td>{{ parish.centerName }}</td>
            <td>{{ parish.code }}</td>
            <td>{{ parish.name }}</td>
            <td>{{ parish.city }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="editingParish" class="container" style="margin-top:70px">
  <form [formGroup]="parishForm" (ngSubmit)="saveParish(parishForm.value)">
    <div class="alert alert-success" *ngIf="(isParishSaved) && (parishForm.valid)">
      <strong>Success!</strong> Added new student
    </div>
    <div *ngIf="addingParish">
      <h2>Create Parish</h2>
      <p>Please enter following details to successfuly create a parish.</p>
    </div>
    <div *ngIf="!addingParish">
      <h2>Modify Parish</h2>
      <p>Please enter following details to successfuly modify a parish.</p>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <input type="hidden" formControlName="id">
        <div class="form-group">
          <div class="col-sm-3" [ngClass]="{'error': code?.invalid && code?.touched}">
            <label for="code">Code</label>
            <input formControlName="code" id="code" class="form-control" placeholder="Code" />
            <em *ngIf="parishForm.get('code').invalid && parishForm.get('code').touched">Required</em>
          </div>
          <div class="col-sm-3" [ngClass]="{'error': name?.invalid && name?.touched}">
            <label for="name">Name</label>
            <input formControlName="name" id="name" class="form-control" placeholder="Name" />
            <em *ngIf="parishForm.get('name').invalid && parishForm.get('name').touched">Required</em>
          </div>
          <div class="col-sm-4" [ngClass]="{'error': city?.invalid && city?.touched}">
            <label for="city">City</label>
            <input formControlName="city" id="city" class="form-control" placeholder="City" />
            <em *ngIf="parishForm.get('city').invalid && parishForm.get('city').touched">Required</em>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-3" [ngClass]="{'error': status?.invalid && status?.touched}">
            <label for="status">Status</label>
            <input formControlName="status" id="status" class="form-control" placeholder="Status" />
            <em *ngIf="parishForm.get('status').invalid && parishForm.get('status').touched">Required</em>
          </div>

          <div class="col-sm-7" [ngClass]="{'error': centerId?.invalid && gender?.touched}">
            <label for="gender">Center</label>
            <select class="form-control" formControlName="centerId">
              <option *ngFor="let center of centers" [value]="center.id" 
              [selected]="selectedCenterId === center.id">{{center.regionName}} {{center.name}}</option>
            </select>
            <em *ngIf="parishForm.get('centerId').invalid && parishForm.get('centerId').touched">Required</em>
          </div>

        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-1">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="parishForm.invalid">Submit</button>
          </div>
          <div class="col-sm-1">
            <button type="button" (click)="cancel()" class="btn btn-primary btn-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
