<div *ngIf="!submitionStatus" class="container" style="margin-top:90px">
  <blockquote class="blockquote">
    <p class="mb-0">Review the enrollment
    </p>
  </blockquote>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    <strong>Error ! </strong>{{error}}
  </div>  
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <p>Sponser Name</p>
          <p class="text-muted">{{enroll.sponsorName}}</p>
        </div>
        <div class="col-md-4">
          <p>Contribution</p>
          <p class="text-muted">${{enroll.contributionAmount}}</p>
        </div>
        <div class="col-md-4">
          <p>Effective Date</p>
          <p class="text-muted">{{enroll.effectiveDate}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8" style="margin-top:20px">
      <p>Sponsee Details</p>
    </div>
    <div class="col-md-8" style="margin-top:5px">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-sm-offset-1 col-sm-4" style="font-weight: normal">
              <p>Name</p>
            </th>
            <th class="col-sm-3" style="font-weight: normal">
              <p>Effective Date</p>
            </th>
            <th class="col-sm-4" style="font-weight: normal">
              <p>Sponsered until</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of enroll.sponsees">
            <td class="col-sm-offset-1 col-sm-4">
              <p>{{s.name}}</p>
            </td>
            <td class="col-sm-4">
              <p>{{enroll.effectiveDate}}</p>
            </td>
            <td class="col-sm-3">
              <p>{{s.expirationMonth}}/{{s.expirationYear}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row-fluid">
      <div class="col-md-12">
        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-1">
            <button class="btn btn-primary nextBtn" (click)="previous()" type="button">Previous</button>
          </div>
          <div class="col-sm-1">
            <button class="btn btn-primary nextBtn" (click)="submit()" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="submitionStatus" class="container" style="margin-top:90px">
  <blockquote class="blockquote">
    <p class="mb-0">Enrollment has been completed !.
    </p>
  </blockquote>
  <!--<p (click)="continue()">Continue enrollment</p>-->
  <p [routerLink]="['/home/view-enroll',  parishId]">Click here to view the enrollment</p>
</div>