<div class="container" style="margin-top:70px">
    <h2>Student List</h2>
    <p>This list displays the student list</p>    
 
    <div class="row">
        <div class="col-sm-12">
          <button type="submit" (click)="addStudent()" class="btn btn-primary btn-xs">Add Student</button>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-12">
          <table class="table table-hover">
              <thead>
                <tr>
                  <th>Student Name</th>
                  <th>Gender</th>
                  <th>Project</th>
                  <th>Agency</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students" [routerLink]="['/student/modify',  student.id]">
                  <td>{{ student.studentName }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.projectName }}</td>
                  <td>{{ student.agencyName}}</td>
                </tr>     
              </tbody>
          </table>
        </div>
    </div>   
</div>
 
