<div class="container-fluid">

    <div *ngIf="message" class="alert alert-info" role="alert">
        <strong>No enrollment!</strong> {{message}}.
      </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" *ngFor="let e of infos">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" 
                        href="#student{{e.spId}}" (click)="showContributionDetail(e.spId)">
                        {{e.spFn}}  {{e.spLn}}  -  <span> Contribution : {{e.totalContribution}}</span>
                    </a>
                </h4>
            </div>
           <div id="student{{e.spId}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-offset-1 col-sm-4">
                                    <p>Payment Date</p>
                                </th>
                                <th class="col-sm-4">
                                    <p>Contribution</p>
                                </th>
                                <th class="col-sm-3">
                                    <p>Expiration</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of contributions">
                                <td class="col-sm-offset-1 col-sm-4">
                                    <p>{{c.paymentDate}}</p>
                                </td>
                                <td class="col-sm-4">
                                    <p>{{c.contriAmount}}</p>
                                </td>
                                <td class="col-sm-3">
                                    <p>{{c.maxOut}}</p>
                                </td>
                            </tr>
                            <p *ngIf="contributions?.length == 0">No data found</p>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end container -->