<div class="container-fluid">

    <div *ngIf="message" class="alert alert-info" role="alert">
        <strong>No enrollment!</strong> {{message}}.
      </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" *ngFor="let e of infos">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{e.spFn}}  {{e.spLn}}, Code : {{e.sponsorCode}}
                </h4>
                <h5>
                    Contribution : {{e.totalContribution | currency}}
                </h5>
                <h6>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" 
                        href="#student{{e.spId}}" (click)="showContributionDetail(e.spId)">
                    Parish : {{e.parishName}}
                    </a>
                </h6>

            </div>
           <div id="student{{e.spId}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1">
                                    Status
                                </th>
                                <th class="col-sm-2">
                                    Effective Date
                                </th>
                                <th class="col-sm-2">
                                    Contribution
                                </th>
                                <th class="col-sm-3">
                                    No. Of Kids
                                </th>
                                <th class="col-sm-2">
                                    Expiration
                                </th>
                                <th class="col-sm-2">
                                    Renew Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of contributions" #cont>
                                <td class="col-sm-1" style="vertical-align:top">
                                    <div  class="circle" [style.background]="(c.expired == true) ? 'red' : 'green'">
                                
                                    </div>  
                                </td>
                                <td class="col-sm-2" style="vertical-align:middle">
                                    {{c.effectiveDate}}
                                </td>
                                <td class="col-sm-2" style="vertical-align:middle">
                                    {{c.contriAmount | currency}}
                                </td>
                                <td class="col-sm-3" style="vertical-align:middle">
                                    {{c.noOfKids}}
                                </td>
                                <td class="col-sm-2" style="vertical-align:middle">
                                    {{c.maxOut}}
                                </td>
                                <td class="col-sm-2" style="vertical-align:middle">
                                    {{c.renewed}}
                                </td>
                            </tr>
                            <p *ngIf="contributions?.length == 0">No data found</p>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end container -->