<div class="row">
    <div class="col-sm-6">
        <p>{{info?.name}}</p>
    </div>
    <div class="col-sm-6">
        <p>{{info?.isActive}}</p>
    </div>
    <div class="row" *ngFor="let student of info?.students">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-11">
            <p>{{student.name}}</p>
        </div>
        <div class="row" *ngFor="let contributions of student.contributions">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <p>{{contributions?.dateReceived}}</p>
            </div>
            <div class="col-sm-3">
                <p>{{contributions?.amount}}</p>
            </div>
            <div class="col-sm-3">
                <p>{{contributions?.status}}</p>
            </div>
        </div>
    </div>
</div>