<form [formGroup]="studentForm" (ngSubmit)="saveStudent(studentForm.value)" style="margin-top:90px">
  <div class="alert alert-success" *ngIf="(isStudentSaved) && (studentForm.valid)">
    <strong>Success!</strong> Added new student
  </div>
  <h2>Create new student</h2>
  <p>Please enter following details to successfuly create a student.</p>
  <div class="row-fluid">
    <div class="col-md-12">
      <input type="hidden" formControlName="id">
      <div class="form-group">
        <div class="col-sm-10" [ngClass]="{'error': studentForm.get('studentName')?.invalid && studentForm.get('studentName')?.touched}">
          <label for="studentName">Student Name</label>
          <input formControlName="studentName" id="studentName" class="form-control" placeholder="First Name" />
          <em *ngIf="studentForm.get('studentName').invalid && studentForm.get('studentName').touched">Required</em>
        </div>        
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-3" [ngClass]="{'error': studentForm.get('dateOfBirth')?.invalid && studentForm.get('dateOfBirth')?.touched}">
          <label for="dateOfBirth">Date of Birth</label>
          <input formControlName="dateOfBirth" id="dateOfBirth" dateInputFormatter maxlength="10"
          class="form-control" placeholder="MM/DD/YYYY" />
          <em *ngIf="studentForm.get('dateOfBirth').invalid && studentForm.get('dateOfBirth').touched">Required</em>
        </div>

        <div class="col-sm-3" [ngClass]="{'error': studentForm.get('gender')?.invalid && studentForm.get('gender')?.touched}">
          <label for="gender">Gender</label>
          <select class="form-control" formControlName="gender">
            <option *ngFor="let g of genders" [value]="g.value" [selected]="selectedGender === g.value">{{g.label}}</option>
          </select>
          <em *ngIf="studentForm.get('gender').invalid && studentForm.get('gender').touched">Required</em>
        </div>

        <div class="col-sm-4" [ngClass]="{'error': studentForm.get('projectId')?.invalid && studentForm.get('projectId')?.touched}">
          <label for="project">Project</label>
          <select class="form-control" formControlName="projectId">
            <option *ngFor="let project of projects" [value]="project.id" [selected]="selectedProjectId === project.id">{{project.name}}</option>
          </select>
          <em *ngIf="studentForm.get('projectId').invalid && studentForm.get('projectId').touched">Required</em>
        </div>

      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-4">
          <label for="sponsorStatus">Status</label>
          <select class="form-control" formControlName="status">
            <option [value]="0">Active</option>
            <option [value]="1">Non Active</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label for="address">Address</label>
          <input formControlName="address" id="address" class="form-control" placeholder="Address" />
          <em *ngIf="studentForm.get('address').invalid && studentForm.get('address').touched">Required</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-5">
          <label for="hobbies">Hobbies</label>
          <textarea formControlName="hobbies" id="hobbies" rows="2" class="form-control">
      </textarea>
        </div>
        <div class="col-sm-5">
          <label for="talent">Talent</label>
          <textarea formControlName="talent" id="talent" rows="2" class="form-control">
        </textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-10">
          <label for="recentAchivements">Recent Acheviments</label>
          <textarea formControlName="recentAchivements" id="recentAchivements" rows="2" class="form-control">
                  </textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid" *ngIf="(isStudentSaved)">
    <div class="col-md-5">
      {{error}}
      <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file" accept="image/*" (change)="handleFileInput($event)" placeholder="Upload picture..." />
        {{fileUploadStatus}}
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <button type="button" (click)="upload()" class="btn btn-primary btn-sm">Upload</button>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-offset-8 col-sm-1">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="studentForm.invalid || isStudentSaved">Submit</button>
        </div>
        <div class="col-sm-1">
          <button type="button" (click)="cancel()" class="btn btn-primary btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!--<pre>{{studentForm.value | json}}</pre>-->
</form>