<form class="form-horizontal" [formGroup]="studentForm" (ngSubmit)="saveStudent(studentForm.value)" style="margin-top:90px">
  <div class="alert alert-success" *ngIf="(isStudentSaved) && (studentForm.valid)">
    <strong>Success!</strong> Added new student
  </div>
  <h2>Create new Student</h2>
  <p>Please enter following details to successfuly create a student.</p>
  <div>
    <div class="form-group" [ngClass]="{'error': firstName?.invalid && firstName?.touched}">
      <label for="firstName" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input formControlName="firstName" id="firstName" class="form-control" placeholder="First Name" />
        <em *ngIf="studentForm.get('firstName').invalid && studentForm.get('firstName').touched">Required</em>
      </div>
    </div>
    <div class="form-group">
      <label for="middleName" class="col-sm-2 control-label">Middle Name</label>
      <div class="col-sm-10">
        <input formControlName="middleName" id="middleName" class="form-control" placeholder="Middle Name" />
      </div>
    </div>
    <div class="form-group" [ngClass]="{'error': lastName?.invalid && lastName?.touched}">
      <label for="lastName" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input formControlName="lastName" id="lastName" class="form-control" placeholder="Last Name" />
        <em *ngIf="studentForm.get('lastName').invalid && studentForm.get('lastName').touched">Required</em>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'error': dateOfBirth?.invalid && dateOfBirth?.touched}">
      <label for="dateOfBirth" class="col-sm-2 control-label">Date of Birth</label>
      <div class="col-sm-10">
        <input formControlName="dateOfBirth" id="dateOfBirth" class="form-control" placeholder="Date of Birth" />
        <em *ngIf="studentForm.get('dateOfBirth').invalid && studentForm.get('dateOfBirth').touched">Required</em>
      </div>
    </div>
    <div class="form-group">
      <label for="gender" class="col-sm-2 control-label">Gender</label>
      <div class="col-sm-10">
        {{student.gender}}
        <div class="btn-group btn-group-sm" data-toggle="buttons">           
          <label *ngFor="let g of genders" class="btn btn-success"         
          [ngClass]="{'active focus' : student.gender === g.value}">
            <input formControlName="gender" type="radio" name="gender" 
            [value]="g.value" [(ngModel)]='g.value'/> {{g.display}}
          </label>         
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'error': address?.invalid && address?.touched}">
      <label for="address" class="col-sm-2 control-label">Address</label>
      <div class="col-sm-10">
        <input formControlName="address" id="address" class="form-control" placeholder="Address" />
        <em *ngIf="studentForm.get('address').invalid && studentForm.get('address').touched">Required</em>
      </div>
    </div>
    <div class="form-group">
      <label for="project" class="col-sm-2 control-label">Project</label>
      <div class="col-sm-10">
        <select formControlName="project" class="form-control" id="project">
          <option value="1">Life to Mission</option>
          <option value="2">Abc</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="hobbies" class="col-sm-2 control-label">Hobby</label>
      <div class="col-sm-10">
        <textarea formControlName="hobby" id="hobby" rows="2" class="form-control">
      </textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="talent" class="col-sm-2 control-label">Talent</label>
      <div class="col-sm-10">
        <textarea formControlName="talent" id="talent" rows="2" class="form-control">
        </textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="recentAchivements" class="col-sm-2 control-label">Recent Acheviments</label>
      <div class="col-sm-10">
        <textarea formControlName="recentAchivements" id="recentAchivements" rows="2" class="form-control">
          </textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="studentForm.invalid">Submit</button>
        <button type="button" (click)="cancel()" class="btn btn-primary btn-sm">Cancel</button>
      </div>
    </div>
  </div>
</form>