<div class="form-horizontal" style="margin-top:90px">
  <h4>Select Student</h4>
  <p>Please search a student using following selector.</p>
  <div class="alert alert-info" role="alert" *ngIf="addMore">
    <strong>You could add more student! </strong>{{message}}
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="studentExceedMessage">
    <strong>Warning! </strong>{{studentExceedMessage}}
  </div>
  <div class="alert alert-info" role="alert" *ngIf="duplicateStudentMessage">
    <strong>Sorry! </strong>{{duplicateStudentMessage}}
  </div>  
  <div class="row-fluid" style="margin-bottom: 100px">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-10">
          <label for="project">Project</label>
          <select class="form-control" (change)="onProjectSelect($event.target.value)">
            <option [value]="0" [selected]="true"> Please choose one </option>
            <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="students?.length > 0" class="row-fluid">
    <div class="col-md-5">
      <b style="margin-bottom: 15px;"><i>{{students.length}} students are eligible for sponsorship in this project.</i></b>
      <table class="table table-hover">
        <thead>
          <tr>
            <th (click)="sortByName()">Student Name</th>
            <th (click)="sortByGender()">Gender</th>
            <th (click)="sortByGrade()">Grade</th>    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; let i = index" (click)="selectStudent(student,i)" [attr.data-index]="i">
            <td>{{ student.studentName }} </td>
            <td>{{student.gender}} </td>
            <td>{{ student.grade }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="hasAnyStudentSelected" class="col-md-5" style="padding-top: 20px">
        <div style="margin-top: 8px; margin-bottom: 7px;">
            <b>Selected students.</b>
          </div>
      <div *ngFor="let sponsee of enroll.sponsees">
        
        <div class="alert alert-success">
          Added sponsorship for {{sponsee.name}} until {{sponsee.expirationMonth}}/{{sponsee.expirationYear}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="students?.length == 0" class="row-fluid">
    <div class="col-md-10">
      <p>No Students found.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-10">
          <button class="btn btn-primary nextBtn" (click)="previous()" type="button">Previous</button>
          <button class="btn btn-primary nextBtn" (click)="reset()" [disabled]="!hasAnyStudentSelected" type="button">Reset Selection</button>
          <button class="btn btn-primary nextBtn" (click)="next()" [disabled]="!hasAnyStudentSelected" type="button">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>