<div class="form-horizontal" style="margin-top:90px">
        <h4>Select Student</h4>
        <p>Please search a student using following selector.</p>
        <div class="alert alert-info" role="alert" *ngIf="addMore">
                <strong>You could add more student! </strong>{{message}}
        </div>
        <div class="input-group" style="margin-bottom:10px">
                <input class="form-control" #studentSearchBox required="required" type="text" (keyup)="searchStudent(studentSearchBox.value)"
                        placeholder="Search" />
                <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                        </button>
                </div>
        </div>
        <ul class="list-group " *ngFor="let student of students | async">
                <li class="list-group-item" (click)="selectStudent(student)">{{student.firstName}} {{student.lastName}} </li>
        </ul>
        <div *ngIf="hasAnyStudentSelected" class="row-fluid">
                <div *ngFor="let sponsee of enroll.sponsees">
                        <div class="alert alert-success">
                             Added sponsorship for {{sponsee.name}} until {{sponsee.expirationMonth}}/{{sponsee.expirationYear}}
                        </div>
                </div>
        </div>
        <button class="btn btn-primary nextBtn" (click)="previous()" type="button">Previous</button>
        <button class="btn btn-primary nextBtn" (click)="next()" type="button">Next</button>
</div>