<form class="form-horizontal" [formGroup]="sponsorEnrollForm" (ngSubmit)="navigate(sponsorEnrollForm.value)" style="margin-top:90px">
  <h4>Select Sponsor</h4>
  <p>Please search a sponsor using following selector.</p>
  <div class="input-group" style="margin-bottom:10px">
    <input class="form-control" #sponsorSearchBox required="required" type="text" (keyup)="searchSponsor(sponsorSearchBox.value)"
      placeholder="Search" />
    <div class="input-group-btn">
      <button class="btn btn-default" (click)="searchSponsor(sponsorSearchBox.value)" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
  <ul class="list-group" *ngFor="let spn of sponsers | async">
    <li class="list-group-item" (click)="selectSponsor(spn)">{{spn.firstName}} {{spn.lastName}}</li>
  </ul>

  <div class="container" *ngIf="hasAnySponsorSelected">
    <p>{{enroll.sponsorName}}</p>
    <div class="form-group">
      <label>Payment Date</label>
      <div>
        <input type="text" class="form-control" formControlName="paymentDate" name="paymentDate" placeholder="MM/DD/YYYY" />
      </div>
    </div>
    <div class="form-group">
      <label>Contribution Amount</label>
      <div>
        <input id="contributionAmount" class="form-control" formControlName="contributionAmount" type="text" name="contributionAmount"
          placeholder="Contribution Amount" />
      </div>
    </div>

    <div class="form-group">
      <label>Effective Date</label>
      <div>
        <input type="text" class="form-control" formControlName="effectiveDate" name="effectiveDate" placeholder="MM/DD/YYYY" />
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-sm" [disabled]="sponsorEnrollForm.invalid">Next</button>
</form>