<form [formGroup]="sponsorForm" (ngSubmit)="saveContribution(sponsorForm.value)" novalidate>
    <input type="hidden" formControlName="id"/>
    <div class="row-fluid">
        <div class="col-sm-2 grey text-align: center">{{ sponsor.sponsorCode }}</div>
        <div class="col-sm-2 grey text-align: center">{{ sponsor.firstName }}</div>
        <div class="col-sm-2 grey text-align: center">{{ sponsor.lastName }}</div>
        <div class="col-sm-4 grey text-align: center">{{ sponsor.street}}, {{ sponsor.city}}, {{ sponsor.state}} -
            {{ sponsor.postalCode}}</div>
        <div class="col-sm-2 grey text-align: center">
            <div *ngIf="enableAmountEntry">
                <input formControlName="contributionAmount" id="contributionAmount{{sponsor.id}}" type="text" />
                <button type="submit" class="btn btn-primary btn-xs" [disabled]="sponsorForm.invalid">Save</button>
                <button type="button" (click)="cancel()" class="btn btn-secondary btn-xs">Cancel</button>
            </div>  
            <div *ngIf="showLabel">
                <label>{{sponsorForm.get('contributionAmount').value | currency:'USD':true:'2.2-4'}}</label>
                <button type="button" (click)="enableEdit()" class="btn btn-link btn-sm">Edit</button>|<button type="button" (click)="clearAmount()" class="btn btn-link btn-sm">Clear</button>
            </div>  
        </div>

    </div>
</form>