<div class="container" style="margin-top:70px">
  <div class="row">
    <div class="col-sm-12">
        <h2>Manage Sponsorship</h2>
        <p>yada yada yada </p>    
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Search</div>
        <div class="panel-body">
          <router-outlet name="list"></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <!--<div class="panel panel-default">
        <div class="panel-heading">Recent Activities</div>
        <div class="panel-body"> -->
          <router-outlet name="detail"></router-outlet>
       <!-- </div>
      </div>-->
    </div>
  </div>
</div>