<div class="container-fluid" style="padding-left: 0px;">
  <div class="row-fluid" style="padding-bottom: 15px;">
    <div class="col-sm-12">
      <span style="font-size: 12px; font-weight: bold;">Search a student in the search input.</span>
    </div>
  </div>

  <!--<div class="btn-group btn-group-toggle" data-toggle="buttons" style="padding-top: 5px;">
    <label class="btn btn-primary active">
      <input #name [checked]="search.type==name.value" 
      (click)="search.type=name.value" name="type" value="name" id="radioName" 
      type="radio" > Student Name
    </label>
    <label class="btn btn-primary">
      <input #code [checked]="search.type==code.value" 
      (click)="search.type=code.value" name="type"value="code" id="radioCode" 
      type="radio" > Student Code
    </label>
  </div>
-->
  <div class="row-fluid" style="padding-top: 10px; padding-bottom: 5px;">

    <div class="col-sm-6">
      <input #name [checked]="search.type==name.value" (click)="search.type=name.value" name="type" value="name"
        id="radioName" type="radio">
      <label for="radioName" style="padding-left: 5px;"> Student Name </label><br />
    </div>
    <div class="col-sm-6">
      <input #code [checked]="search.type==code.value" (click)="search.type=code.value" name="type" value="code"
        id="radioCode" type="radio">
      <label for="radioCode" style="padding-left: 5px;"> Student Code </label>
    </div>
  </div>

  <div class="row-fluid"> 
    <div class="col-sm-12">
      <div class="input-group" style="padding-top: 5px; padding-bottom: 5px;">
        <input class="form-control" #sponsorSearchBox required="required" type="text"
          (keyup)="searchSponsor(sponsorSearchBox.value)" placeholder="Search" />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" style="line-height: .92;">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-12">
      <ul class="list-group" *ngFor="let student of students | async"
        [routerLink]="['/home/manage-sponsor',{outlets:{'detail':[student.id]}}]">
        <li class="list-group-item"><span style="font-size: 12px;">{{student.studentName}}</span>,  
          <span style="padding-left: 5px; font-size: 9px; font-weight: bold;">{{student.studentUniqueCode}}</span></li>
      </ul>
    </div>
  </div>

</div>