/* You can add global styles to this file, and also import other style files */
.form-group {
    margin-bottom: 4px;
    margin-top: 9px;
}
.form-horizontal .control-label{
    text-align:left;

}
em {color:#E05C65; padding-left:1px; font-size: 11px;}
.error input {background-color:#E3C3C5;}
.bar { fill: steelblue; }
.bar:hover {fill: orange; }
.barChartToolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 5px;
    text-align: center;
  }

label {
    font-weight:500;
    font-size: 12px;
}
body {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 13px;
}
.form-control {
    padding: 6px 5px;
    font-size: 12px;
}

.form-control {
    height: 29px;
}

.search-result{
    display: block;
    width: 100%;
    height: 20px;
    padding: 6px 6px;
    font-size: 11px;
    line-height: .8;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
      cursor: pointer;
  }
    
  #search-box{
      height: 29px;
      border: 1px solid lightgray;
  }

.table {
    font-size: 11.6px;
}