<div class="container" style="margin-top:150px">
  <div class="row">
    <div class="col-xs-3">
      <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
      <p class="text-center">Sponsor</p>
    </div>
    <div class="col-xs-3">
      <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
      <p class="text-center">Student</p>
    </div>
    <div class="col-xs-3">
      <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
      <p class="text-center">Contribution</p>
    </div>
    <div class="col-xs-3 ">
      <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
      <p class="text-center">Review</p>
    </div>
  </div>
  <div class="container" style="margin-top:20px">
    <form class="form-horizontal">
      <div class="setup-content" id="step-1">
        <h2>Select a sponsor</h2>
        <p>Please select a sponsor from the dropdown.</p>
        <div class="form-group" style="margin-top:20px">
          <label for="sponsor-name" class="col-sm-2 control-label">Sponsor Name</label>
          <div class="input-group col-sm-10">
            <input id="sponsorName" class="form-control" #sponsorSearchBox autocomplete="false" required="required" type="text" (keyup)="searchSponsor(sponsorSearchBox.value)"
              placeholder="Search" />
            <div class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>

          </div>
        </div>
      
        <div *ngFor="let sponsor of sponsers | async">
          <div class="form-group">
            <label for="sponsor-name" class="col-sm-2 control-label"></label>
            <label for="sponsor-name" class="col-sm-10 control-label">{{sponsor.name}}</label>
          </div>

        </div>
        <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
      </div>
      <div class="setup-content" id="step-2">
        <h2>Select a student</h2>
        <p>Please select a student from the dropdown.</p>
        <div class="form-group">
          <label for="student-name" class="col-sm-2 control-label">Student Name</label>
          <div class="input-group col-sm-10">
            <input id="studentrName" class="form-control" required="required" type="text" placeholder="Search" />
            <div class="input-group-btn">
              <button class="btn btn-default" type="button">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </div>
        <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
      </div>
      <div class="setup-content" id="step-3">
        <h2>Contrubution Details</h2>
        <p>Please provide the contrubution details.</p>
        <div class="form-group">
          <label for="contribution-amount" class="col-sm-2 control-label">Contribution Amount</label>
          <div class="col-sm-10">
            <input id="contributionAmount" class="form-control" required="required" type="text" placeholder="Amount" />
          </div>
        </div>
        <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
      </div>
      <div class="setup-content" id="step-4">
        <h2>Review</h2>
        <p>Please review and confim the enrollment.</p>
        <p>Student Name.</p>
        <p>sponsor Name.</p>
        <p>Amount.</p>
        <button class="btn btn-success pull-right" type="submit">Finish!</button>
      </div>
    </form>
  </div>