<form class="form-horizontal" [formGroup]="sponsorForm" novalidate (ngSubmit)="saveSponsorDetails(sponsorForm.value)" style="margin-top:90px">
  <div id="message" class="alert alert-success" *ngIf="isSponsorSaved">
    <strong>Success!</strong> {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="error">
    <strong>Error!</strong> {{error}}
  </div>
  <h3>{{pageHeader}}</h3>
  <p>Please enter following details to successfuly add a sponsor.</p>
  <div class="row-fluid">
    <div class="col-md-10">
      <div class="form-group">
        <input type="hidden" formControlName="id"/>
        <div class="col-sm-4" [ngClass]="{'error': sponsorForm.get('firstName')?.invalid && sponsorForm.get('firstName')?.touched}">
          <label for="firstName">First Name</label>
          <input formControlName="firstName" id="firstName" class="form-control" type="text" placeholder="First Name" />
          <em *ngIf="sponsorForm.get('firstName')?.invalid && sponsorForm.get('firstName')?.touched">Required</em>
        </div>

        <div class="col-sm-2">
          <label for="middleInitial">Middle Name</label>
          <input formControlName="middleInitial" id="middleInitial" class="form-control" type="text" placeholder="Middle Name" />
        </div>

        <div class="col-sm-4" [ngClass]="{'error': sponsorForm.get('lastName')?.invalid && sponsorForm.get('lastName')?.touched}">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" id="lastName" class="form-control" type="text" placeholder="Last Name" />
          <em *ngIf="sponsorForm.get('lastName')?.invalid && sponsorForm.get('lastName')?.touched">Required</em>
        </div>

        <div class="col-sm-2">
          <label for="nickName">Nick Name</label>
          <input formControlName="nickName" id="nickName" class="form-control" type="text" placeholder="Nick Name" />
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-2">
            <label for="phone1">Phone Number</label>
            <input formControlName="phone1" id="phone1" class="form-control" maxlength="10"
              type="text" placeholder="Phone Number"
            />
        </div>
        <div class="col-sm-7" [ngClass]="{'error': sponsorForm.get('street')?.invalid && sponsorForm.get('street')?.touched}">
          <label for="address">Address</label>
          <input formControlName="street" id="street" class="form-control" type="text" placeholder="Street" />
          <em *ngIf="sponsorForm.get('street')?.invalid && sponsorForm.get('street')?.touched">Required</em>
        </div>
        <div class="col-sm-1">
          <label for="address">Appt. No.</label>
          <input formControlName="appartmentNumber" id="appartmentNumber" class="form-control" type="text" placeholder="Apt #"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-4" [ngClass]="{'error': sponsorForm.get('city')?.invalid && sponsorForm.get('city')?.touched}">
          <label for="city">City</label>
          <input formControlName="city" id="city" class="form-control" type="text" placeholder="City" />
          <em *ngIf="sponsorForm.get('city')?.invalid && sponsorForm.get('city')?.touched">Required</em>
        </div>
        <div class="col-sm-4" [ngClass]="{'error': sponsorForm.get('state')?.invalid && sponsorForm.get('state')?.touched}">
          <label for="state">State</label>
          <input formControlName="state" id="state" class="form-control" type="text" placeholder="State" />
          <em *ngIf="sponsorForm.get('state')?.invalid && sponsorForm.get('state')?.touched">Required</em>
        </div>
        <div class="col-sm-2" [ngClass]="{'error': sponsorForm.get('postalCode')?.invalid && sponsorForm.get('postalCode')?.touched}">
          <label for="postalCode">Zip Code</label>
          <input formControlName="postalCode" id="postalCode" maxlength="5" class="form-control" type="text" placeholder="Zip Code"
          />
          <em *ngIf="sponsorForm.get('postalCode')?.invalid && sponsorForm.get('postalCode')?.touched">Required</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-3" [ngClass]="{'error': sponsorForm.get('centerId')?.invalid && sponsorForm.get('centerId')?.touched}">
          <label for="project">Center</label>
          <select class="form-control" formControlName="centerId" (change)="onCenterSelect($event.target.value)">
            <option [value]="0" [selected]="true"> Please choose one </option>
            <option *ngFor="let center of centers" [value]="center.id">{{center.regionName}} {{center.name}}</option>
          </select>
          <em *ngIf="sponsorForm.get('centerId')?.invalid && sponsorForm.get('centerId')?.touched">Required</em>
        </div>
        <div class="col-sm-5"  [ngClass]="{'error': sponsorForm.get('parishId')?.invalid && sponsorForm.get('parishId')?.touched}">
          <label for="lastName">Select Parish</label>
          <select class="form-control" formControlName="parishId"  formControlName="parishId" (change)="onParishSelect($event.target.value)">
            <option [value]="0" [selected]="true"> Please choose one </option>
            <option *ngFor="let parish of parishes" [value]="parish.id" [selected]="selectedParishId === parish.id">{{parish.name}}</option>
          </select>
          <em *ngIf="sponsorForm.get('parishId')?.invalid && sponsorForm.get('parishId')?.touched">Required</em>
        </div>
        <div class="col-sm-2" [ngClass]="{'error': sponsorForm.get('sponsorCode')?.invalid && sponsorForm.get('sponsorCode')?.touched}">
          <label for="sponsorCode">Code</label>
          <input *ngIf="!isSponsorCodeEditable" formControlName="sponsorCode" disabled id="sponsorCode"  class="form-control" type="text"/>
          <input *ngIf="isSponsorCodeEditable" formControlName="sponsorCode" id="sponsorCode"  class="form-control" type="text" placeholder="Code" />
          <em *ngIf="sponsorForm.get('sponsorCode')?.invalid && sponsorForm.get('sponsorCode')?.touched">Required</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-10">
      <div class="form-group">
        <div class="col-sm-2">
          <label for="dateOfBirth">Day of Birth</label>
          <input formControlName="dayOfBirth" id="dateOfBirth" class="form-control" type="text" placeholder="Date of Birth" />
        </div>
        <div class="col-sm-4">
          <label for="birthMonth">Month of Birth</label>
          <select class="form-control" formControlName="monthOfBirth">
            <option [value]="1">January</option>
            <option [value]="2">February</option>
            <option [value]="3">March</option>
            <option [value]="4">April</option>
            <option [value]="5">May</option>
            <option [value]="6">June</option>
            <option [value]="7">July</option>
            <option [value]="8">August</option>
            <option [value]="9">September</option>
            <option [value]="10">October</option>
            <option [value]="11">November</option>
            <option [value]="12">December</option>
          </select>
        </div>

        <div class="col-sm-6" [ngClass]="{'error': sponsorForm.get('emailAddress')?.invalid && sponsorForm.get('emailAddress')?.touched}">
          <label for="lastName">Email</label>
          <input formControlName="emailAddress" id="emailAddress" class="form-control" type="text" placeholder="Email" />
          <em *ngIf="sponsorForm.get('emailAddress')?.invalid && sponsorForm.get('emailAddress')?.touched">Required</em>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-4">
          <label for="sponsorStatus">Sponsor Status</label>
          <select class="form-control" formControlName="sponsorStatus">
            <option [value]="0">Active</option>
            <option [value]="1">Non Active</option>
          </select>
        </div>

        <div class="col-sm-6">
          <label for="coSponserName">Co Sponsor Name</label>
          <input formControlName="coSponserName" id="coSponserName" class="form-control" type="text" placeholder="Co Sponsor Name"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <div class="col-sm-offset-8 col-sm-1">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="sponsorForm.invalid">Submit</button>
        </div>
        <div class="col-sm-1">
          <button type="button" (click)="cancel()" class="btn btn-primary btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>